@font-face {
	font-family: "Bebas";
	src: url("../fonts/Bebas.ttf") format("truetype");
}

h3,h4,h5,h6{
	font-family: 'Bebas', sans-serif;
}

/*Navigation*/
.navbar{
	font-family: 'Bebas', sans-serif;
	text-transform: uppercase;
	position: relative;
	margin:0 !important; 
	padding:0 !important;
}

/*
.navbar:before{
	content:'';
	position: absolute;
	width: 160px;
	max-width: 13.5%;
	top: 100%;
	height: 60px;
	background: #f2ae9c;
	left: 0;
	margin-left: -16%;
}

.navbar:after{
	content:'';
	position: absolute;
	width: 13%;
	max-width: 20%;
	top: 100%;
	height: 60px;
	background: #f2ae9c;
	margin-left: 100%;
}*/


.org-blocks .left{
	position: absolute;
	height: 62px;
	background: #f2ae9c;
}


.org-blocks .right{
	position: absolute;
	height: 62px;
	background: #f2ae9c;
	right: 0;
}


.navbar-brand{
	padding: 0;
	color: #e8603c !important;
	font-size: 44px;
	font-weight: 800;
}


.navbar-brand span{
	color: #f3af9d;
}

.navbar-nav a{
	color: #b9b9b9 !important;
	font-family: 'Bebas', sans-serif;
	font-size: 23px;
	font-weight: 400;
}

.navbar-nav a:hover{
	color: #e8663c !important;
}

/*Carousel*/
.carousel-caption{
	color:#fff;
	background: rgba(232, 102, 60, 0.8);
	position: absolute;
	left: 35px;
	bottom: 30px;
	padding-left: 10px;
	max-width: 413px;
	text-align: left;
}

.carousel-caption h1{
	font-size: 18px;
}
.carousel-caption p{
	font-size: 12px;
}

.carousel-control-prev-icon, 
.carousel-control-next-icon { 
    height: 60px; 
    width: 60px; 
} 
 

.carousel-control-next-icon:after { 
    content: ''; 
    font-size: 55px; 
    color: white; 
} 
 
 
.carousel-control-prev-icon:after { 
    content: ''; 
    font-size: 55px; 
    color: white; 
}


/*Features*/
.features-img img{
	width: 100%;
}

.features-content h4{
	margin-left: 70px;
	text-transform: uppercase;
	color: #e8663c;
	width: 60%;
	line-height: 1.4;
}

.features-content .works-title{
	margin-bottom: 35px;
	width: 320px;
}


@media (min-device-width:768px) and (max-device-width: 991px) {
	.features-content .works-title{
	width: 180px;
	}
}


.features-content .works img{
	float:left;
}

.btn {
	color:#ffffff;
	border-radius: 0px;
	background: #e8663c;
	border: none;
	text-transform: uppercase;

}

.btn:hover {
	color:#ffffff;
}

/*Recent Works*/
.recent{
	position: relative;
}

.recent .recent-line{
	background: url("../images/line.png") repeat-x center;
	margin-left: 120px;
}

.recent h4{ 
	overflow: hidden;
	margin-left: -120px;
	color: #e8603c;
	font-family: Bebas;
	font-size: 22px;
	font-weight: 700;
}

.recent-text {
	border-bottom: 1px solid #dbdbdb;
	border-left: 1px solid #dbdbdb;
	border-right: 1px solid #dbdbdb;
	margin-bottom: 20px;
}

@media (min-device-width:768px) and (max-device-width: 991px) {
	.recent-text{
		height: 100px;
	}
}

.recent img{
	width: 100%;
}

.recent-text h5{
	padding-left:15px;
	padding-top: 15px;
	font-size: 20px;
	color: #b9b9b9;
}

.recent-text h6{
	padding-left:15px;
	font-size: 16px;
	color: #e8663c;
}


/*Footer*/
.footer{
	background: #f2ae9c;
	color:#ffffff;
}

footer h3{
	width: 155px;
	height: 19px;
	color: #ffffff;
	font-family: Bebas;
	font-size: 30px;
	font-weight: 400;
}

footer p{
	font-family: "Helvetica Neue";
	font-size: 12px;
	font-weight: 400;
}

.footer .container{
	background: #e8663c;
	border-right: 10px solid #ffffff;
	border-left: 10px solid #ffffff;
}

.footer span{
	color: #f3b29d;
}
.footer a{
	text-decoration: none;
	color: #f3b29d;
}

.social{
	padding-left: 0;
}
.social li{
	display: inline-block;
}

